@import "variable";
$border-color: green;

%border-size {
    // border: solid 1px black;
    border-style: solid;
    border-color: $border-color;
    border-width: 1px;
    margin: 100px 50px 20px 40px;
    padding: 100px 50px;
}
h1 {
    color: $blue-color;
    font-size: $large;
}

p {
    font-size: $large;
}

main {
    @extend %border-size;
    h1 {
        @extend %border-size;
    }
    p {
        @extend %border-size;
    }
}

.red-color {
    color: $red-color;
}

body {
    font-family: "Raleway", sans-serif;
}
